# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# Raw data (too large for GitHub)
marketing_campaign_dataset.csv

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
